<div class="section container-fluid" id="finport-section">
  <%= link_to "https://www.finport.fun", target: :_blank do %>
    <h2 class="neutral untransformed-header" id="transforming-header">FINPORT</h2>
  <% end %>
  
  <div class="dflex icon-wrapper">
    <a class="icons" href="https://github.com/Maiermag/FINPORT" target="_blank"><i class="bi bi-github icon-github"></i></a>
    <a class="icons" href="http://www.finport.fun" target="_blank"><i class="bi bi-link"></i></a>
  </div>
   

  <div class="row">
    <div class="col-sm" id="test">
      <div class="finport-image-container">
        <%= image_tag "manage_connections", style: 'height:400px;width:195px;border-radius:5px;'%>
        <!-- <p>Easily import your existing portfolios</p> -->
      </div>
    </div>
    <div class="col-sm">
      <div class="finport-image-container">
        <%= image_tag "import_portfolio", style: 'height:400px;width:195px;border-radius:5px;'%>
        <!-- <p>With your bank or trading platforms</p> -->
      </div>
    </div>
    <div class="col-sm">
      <div class="finport-image-container">
        <%= image_tag "graph", style: 'height:400px;width:195px;border-radius:5px;'%>
        <!-- <p>Built in graph shows performance</p> -->
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <div class="finport-image-container">
        <%= image_tag "investments", style: 'height:400px;width:195px;border-radius:5px;'%>
        <!-- <p>Check the performance of all your assets in one Place</p> -->
      </div>
    </div>
    <div class="col-sm">
      <div class="finport-image-container">
        <%= image_tag "sectors", style: 'height:400px;width:195px;border-radius:5px;'%>
        <!-- <p>Check how much you spent in the different sectors</p> -->
      </div>
    </div>
    <div class="col-sm">
      <div class="finport-image-container">
        <%= image_tag "drop_down", style: 'height:400px;width:195px;border-radius:5px;'%>
        <!-- <p>Nice and simple design to make it easy for beginners</p> -->
      </div>
    </div>  
  </div>

</div>